.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16.4rem;
  max-width: $Container-width;

  &__illustration img {
    height: 47.4rem;
  }

  &__heading {
    font-family: $Font-Heading;
    font-size: 4rem;
    line-height: 6rem;
    font-weight: $Bold;
    margin-bottom: 1.5rem;
  }

  &__text {
    line-height: 2.4rem;
    letter-spacing: 0.053rem;
    max-width: 58.5rem;
    margin-bottom: 2.5rem;
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    max-width: 53.6rem;

    input {
      width: 100%;
    }
  }
}
