.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $Container-width;
  margin: 6.5rem 6.5rem 8.6rem 6.5rem;

  @media screen and (max-width: 854px) {
    margin: 0;
    padding: 24px;
    max-width: unset;
  }

  &__logo img {
    width: 16.6rem;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 5.7rem;

    a,
    a:link,
    a:visited {
      color: $Very-Dark-Blue;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: $Regular;
      transition: opacity 0.3s ease;
    }

    a:hover {
      opacity: 0.6;
    }
  }
}
